h1 {
    font-family: 'Lateef', cursive;}
h2 {
    font-family: 'Pinyon Script', cursive;
}
body {
    background-image: url("../images/pink_rice.png");
    background-repeat: repeat;
}
header {

}
.main {
    
}